@media print {
    .tab-links ul, .question-box, .extra-text, .last-page-buttons, .btn, #version {
      display: none;
    }
    #pglast {
      display: block !important;
      margin-top: -4rem;
    }
    .content-area {
      background: #fff;
      box-shadow: none;
    }
    .fee-item {
      page-break-inside: avoid;
    }
    .fee-sub-items {
      height: auto;
      opacity: 1;
      overflow: visible;
      font-size: 1.1rem;
    }
    main {
      margin: 1em auto 0;
    }
    i {
      display: none !important;
    }
  }
  